{% extends 'home.html' %}

{% block title %}
    Django Highcharts Example
{% endblock %}

{% block content %}
 <body>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        Highcharts.chart('container', {{ chart|safe }});
        Highcharts.chart('container', {{ chart|safe }}
            {
            chart: {
                type: 'spline',
                borderColor: '#9DB0AC',
                 borderWidth: 3

            }
        })
    </script>
</body>
{% endblock %}